
<div class="modal fade" id="unpost_leave_modal" tabindex="-1" aria-labelledby="jobOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header Zips-modal-header">
                <h1 class="modal-title fs-5" id="jobOrderLabel">Unpost Leave</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="unpost-leave-button">
                    <i class="fa-regular fa-circle-check"></i> Yes
                </button>
            </div>
        </div>
    </div>
</div>

