
@{
    ViewBag.Title = "APW Payroll";
}

@section Scripts{
    <script src="~/Scripts/Payroll/Payroll.js"></script>
}


<section class="main">
    <div class="main-title py-3">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-auto text-center text-lg-start mb-lg-0">
                    <h1 class="h4 mt-2 mb-lg-0">Payroll</h1>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            @*<li class="breadcrumb-item"><a href="#">Home</a></li>*@
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Payroll</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="main-content py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <a href="@Url.Action("Payslip", "Payroll")" class="d-block w-100 widget text-center">
                        <span class="display-6 bg-body py-2 p-3 rounded d-inline-block mb-3">
                            <i class="fa-solid fa-money-check-dollar"></i>
                        </span>
                        <h3 class="text-primary">Payslip</h3>
                        <p class="text-muted mb-0">View Payroll Records</p>
                    </a>
                </div>


           

                <div class="col-lg-4 mb-3">
                    <a href="@Url.Action("Loan", "Payroll")" class="d-block w-100 widget text-center">
                        <span class="display-6 bg-body py-2 p-3 rounded d-inline-block mb-3">
                            <i class="fa-solid fa-landmark"></i>
                        </span>
                        <h3 class="text-primary">Loans</h3>
                        <p class="text-muted mb-0">View Loan Status and Balances</p>
                    </a>
                </div>
 
            </div>
        </div>
    </div>
</section>