 

.table-header-color {
    background-color: forestgreen;
    color: black;
}

.tr-unposted {
    background-color: red;

}

.tr-posted {
    background-color: blue;
}

.tr-approved {
    background-color: green;
}

.tr-cancelled {
    background-color: red;
}


.instruction-box {
    background-color: #fff8eb;
    border-left: 5px solid #f39c12;
    color: #856404;
}

.form-label-custom {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #6c757d;
    margin-bottom: 5px;
}

.helper-text {
    font-size: 0.8rem;
    color: #6c757d;
    line-height: 1.2;
}

.uniform-table th,
.uniform-table td {
    width: 15%;
    text-align: center;
    vertical-align: middle;
}

.uniform-table .reason-col {
    width: 25% !important;
    white-space: normal;
    word-break: break-word;
    text-align: left;
}

.table thead th {
    background-color: #8b0000 !important;
    color: white !important;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
}

.alert-instruction {
    background-color: #fff8eb;
    border-left: 5px solid #f39c12;
    color: #856404;
}