@model APWModel.ViewModel.Portal.PortalGovernmentInfo_model
    
<div class="row justify-content-center justify-content-sm-between">
    <div class="col-auto">
        <h4 class="text-primary">Government IDs</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="text-muted mb-0"><small>Philhealth No.</small></p>
        <p><strong>@Model.PhilHealthNo</strong></p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="text-muted mb-0"><small>SSS no.</small></p>
        <p><strong>@Model.SSSNo</strong></p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="text-muted mb-0"><small>Pag-Ibig No.</small></p>
        <p><strong>@Model.PagIbigNo</strong></p>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <p class="text-muted mb-0"><small>TIN No.</small></p>
        <p><strong>@Model.TINNo</strong></p>
    </div>
   
</div>
