
<div class="modal fade" id="add_comment_modal" tabindex="-1" aria-labelledby="jobOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header Zips-modal-header">
                <h1 class="modal-title fs-5" id="jobOrderLabel">Add Comment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                 
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit-comment-button">
                    <i class="fa-regular fa-circle-check"></i> Submit
                </button>
            </div>
        </div>
    </div>
</div>

