
<div class="modal fade" id="comment_attach_modal" tabindex="-1" aria-labelledby="jobOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header Zips-modal-header">
                <h1 class="modal-title fs-5" id="jobOrderLabel">Select a file</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col">
                        <div class="mb-3">
                            <label for="" class="form-label">Attach</label>
                            <input class="form-control" type="file" name="Comment_Attachment" id="Comment_Attachment">
                        </div>
                    </div>
                </div> 
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit-attach-file-button" concernid="0" commentid="0">
                    <i class="fa-regular fa-circle-check"></i> Upload/Update attachment
                </button>
            </div>
        </div>
    </div>
</div>

