@model Portal.Models.VW_COE.COE_MODEL
    


<div class="row">
    
    <iframe src="\GeneratedReports\COE\@Model.Location\@Model.Filename" width="500" height="800" frameborder="0"></iframe>
    
</div>


