 
    <div class="main-content py-3">
        <div class="container-fluid">
            <div class="widget">
                <div class="row justify-content-center align-items-center">
                    <h4 class="text-center text-primary">Sorry, This feature is not supported by your assigned client. Please contact your friendly neighborhood System Administrator. </h4>
                    <img src="~/Content/images/access-denied-new.png" style="height: 300px; width: 400px;">
 

                </div>


            </div>
        </div>
    </div>
 