<div class="main-content py-3">
    <div class="container-fluid">
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="toasterSuccess" class="toast text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header text-bg-success">
                    <strong class="me-auto">Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toasterSuccess-body">
                    Hello, world! This is a toast message.
                </div>
            </div>

            <div id="toasterInfo" class="toast text-bg-info border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header text-bg-info">
                    <strong class="me-auto">Info</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toasterInfo-body">
                    Hello, world! This is a toast message.
                </div>
            </div>

            <div id="toasterWarning" class="toast text-bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header text-bg-warning">
                    <strong class="me-auto">Danger</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toasterWarning-body">
                    Hello, world! This is a toast message.
                </div>
            </div>

            <div id="toasterDanger" class="toast text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header text-bg-danger">
                    <strong class="me-auto">Warning</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toasterDanger-body">
                    Hello, world! This is a toast message.
                </div>
            </div>

            <div id="toasterAccess" class="toast text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header text-bg-danger">
                    <strong class="me-auto">Access Denied</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" id="toasterAccess-body">
                    Access Denied
                </div>
            </div>

        </div>
    </div>
</div>