
@model string

@{ 
    string _filename = Model + ".pdf";

}
<div class="row">
    
    <iframe src="\OvertimeAttachments\OvertimeFormsGenerated\approved\@Model\@_filename".pdf" width="500" height="800" frameborder="0"></iframe>
    
</div>


