<div class="modal fade " id="filter_dtr_modal" tabindex="-1" aria-labelledby="jobOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header Zips-modal-header">
                <h1 class="modal-title fs-5" id="jobOrderLabel">Filter DTR</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label class="form-label" for="">Start date</label>
                            <input type="date" id="dtr_from" class="form-control" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label class="form-label" for="">End date</label>
                            <input type="date" id="dtr_to" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <div class="form-group mb-3">
                            <label class="form-label" for="">Status</label>
                            <select class="form-select" id="dtr-status" name="dtr-status" placeholder="Status">
                                <option value="">All</option>
                                <option value="Unposted">Unposted</option>
                                <option value="Posted">Posted</option>
                                <option value="Apporoved">Apporoved</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="filter_dtr">
                    <i class="fa-regular fa-circle-check"></i> Apply Filter
                </button>
            </div>
        </div>
    </div>
</div>


