
<div class="modal fade" id="attach_image_modal" tabindex="-1" aria-labelledby="jobOrderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header Zips-modal-header">
                <h1 class="modal-title fs-5" id="jobOrderLabel">Select an image</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row mt-2" id="loan-filter">
                    <div class="col">
                        <div class="mb-3">
                            <label for="" class="form-label">Attach</label>
                            <input class="form-control" type="file" name="image_Attachment" id="image_Attachment">
                        </div>
                    </div>
                </div>
                <div class="row mt-1" id="loan-filter">
                    <div class="col">
                        <div class="mb-3">
                            <label for="" class="form-label text-danger">* Attaching a non-presentable profile picture is highly not recommended.</label>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submit-attach-profile-picture-button">
                    <i class="fa-regular fa-circle-check"></i> Upload
                </button>
            </div>
        </div>
    </div>
</div>

 